@tailwind base;

/* @layer base {
    :root {
      --color-primary: 27 219 23;
      --color-accent: 27 219 23;
      --color-compliment: 27 219 23;
    }
} */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #999 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-track:hover {
	background: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
	background-color: #ddd;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #bbb;
}

.scrollbar-autohide::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.scrollbar-autohide:hover::-webkit-scrollbar-thumb {
	background-color: #ddd !important;
}

@tailwind components;
@tailwind utilities;

html {
	user-select: none;
}

.allow-select {
	-webkit-user-select: text !important; /* Chrome 49+ */
	-moz-user-select: text !important; /* Firefox 43+ */
	-ms-user-select: text !important; /* No support yet */
	user-select: text !important; /* Likely future */
}

.force-select {
	-webkit-user-select: all !important; /* Chrome 49+ */
	-moz-user-select: all !important; /* Firefox 43+ */
	-ms-user-select: all !important; /* No support yet */
	user-select: all !important; /* Likely future */
}

#root {
	height: 100vh;
}

.main-container {
	@apply flex flex-col flex-1 overflow-x-visible overflow-y-auto;
}

/* Do not remove, added to remove the empty padding above date picker */
.rdrDateDisplayWrapper {
	display: none !important;
}

/* Extended utility classes */

.pixelated {
	image-rendering: pixelated;
}

.text-label {
	@apply text-xs text-secondary;
}

.text-xxs {
	font-size: 0.6rem;
}

.flex-center {
	@apply flex items-center justify-center;
}

.flex-center-between {
	@apply flex items-center justify-between;
}

.align-center {
	@apply flex items-center;
}

.inline-item {
	@apply inline align-middle;
}

.background-cover {
	@apply bg-center bg-no-repeat bg-cover;
}

h6 {
	@apply text-xs font-bold;
}

h5 {
	@apply text-sm font-bold;
}

h4 {
	@apply text-base font-bold;
}

h3 {
	@apply text-lg font-bold;
}

h2 {
	@apply text-xl font-bold;
}

h1 {
	@apply text-2xl font-bold;
}

/* Button */
.btn {
	@apply flex items-center justify-center px-4 py-2 font-medium transition-all duration-200 rounded-md whitespace-nowrap ring-1 ring-inset ring-transparent;
}

.btn.btn-xs {
	@apply px-2 py-1 text-xs;
}

.btn.btn-sm {
	@apply px-3 py-2 text-sm;
}

.btn.btn-lg {
	@apply px-4 py-2 text-lg;
}

.btn.btn-icon {
	@apply w-8 h-8 p-0 hover:bg-surface;
}

.btn.btn-primary {
	@apply text-white bg-primary hover:bg-accent;
}

.btn.btn-disabled {
	@apply bg-light;
}

.btn.btn-outlined {
	@apply shadow-sm ring-muted bg-canvas hover:bg-light;
}

.btn.btn-dark {
	@apply bg-dark hover:bg-primary text-canvas;
}

.btn.btn-accent {
	@apply bg-accent hover:bg-accent text-canvas;
}

.btn.btn-secondary {
	@apply bg-surface text-dark hover:bg-muted;
}

.btn.btn-light {
	@apply bg-canvas text-secondary hover:text-black;
}

.btn.btn-danger {
	@apply bg-danger hover:bg-dangerText text-dangerText hover:text-canvas;
}

.btn.btn-success {
	@apply bg-success hover:bg-successText text-successText hover:text-canvas;
}

.btn.btn-warning {
	@apply bg-warning hover:bg-warningText text-warningText hover:text-canvas;
}

/* Input Classes */

.input {
	@apply px-3 py-2 duration-200 rounded-md bg-light ring-2 ring-transparent ring-inset focus:ring-dark focus:outline-none focus:bg-canvas;
}

input[type="time"]::-webkit-datetime-edit-hour-field:focus,
input[type="time"]::-webkit-datetime-edit-minute-field:focus,
input[type="time"]::-webkit-datetime-edit-second-field:focus,
input[type="time"]::-webkit-datetime-edit-ampm-field:focus {
	@apply bg-primary;
}

* {
	@apply focus:outline-dark;
}

.searchbox {
	@apply w-full px-2 py-1 pr-8 text-sm duration-200 rounded-md indent-6 bg-light ring-1 ring-transparent focus:ring-surface focus:bg-canvas;
}

.searchbox:focus {
	@apply max-w-full outline-none w-96;
}

label {
	@apply text-sm font-semibold;
}

/* Sidebar */
.sidebar-wrapper {
	@apply h-full overflow-hidden transition-all duration-300 w-60;
}

.sidebar-wrapper.collapsed {
	@apply w-[4.8rem];
}

.sidebar-wrapper .sidebar {
	@apply flex flex-col justify-between h-full border-r border-surface w-60;
}
.sidebar-wrapper.collapsed .sidebar {
	@apply flex flex-col justify-between w-full h-full border-r border-surface;
}

.sidebar .avatar {
	@apply w-8 h-8 rounded-full min-w-fit;
}

.sidebar .menu {
	@apply flex flex-col;
}

.sidebar .menu .label {
	@apply p-3 text-xs text-secondary;
}

.sidebar .menu .pinned {
	@apply p-2 transition-all duration-200 border rounded-md cursor-pointer flex-center hover:bg-light;
}
.sidebar .menu .item {
	@apply flex items-center px-3 py-2 mb-1 transition-all duration-300 rounded-md cursor-pointer hover:bg-light;
}

.sidebar .menu .sub-items {
	@apply overflow-hidden transition-all duration-300 max-h-0;
}

.sidebar .menu .sub-items.active {
	@apply overflow-hidden max-h-80;
}

.sidebar .menu .sub-item {
	@apply flex items-center px-3 py-2 my-1 transition-all duration-300 rounded-md cursor-pointer hover:bg-light;
}

.sidebar .menu .sub-item.active .arrow {
	@apply w-4 transition-all duration-200;
}
.sidebar .menu .sub-item.active .arrow {
	@apply w-0 m-0;
}
.sidebar .menu .sub-item.active {
	@apply border-l-4 bg-light border-primary;
}

.sidebar .menu .item.active {
	@apply duration-100 border-l-4 bg-light border-primary;
}

/* Topbar */
.topbar-wrapper {
	@apply h-16 overflow-hidden border-b border-surface;
}

.topbar {
	@apply flex items-center justify-between h-full p-4 transition-all duration-300;
}

.topbar.hide {
	@apply h-0 pt-0 pb-0 opacity-0;
}

/* Notifications */
.sidepane-wrapper {
	@apply w-[16rem] h-full overflow-hidden flex-center border-l border-surface transition-all duration-300;
}

.sidepane-wrapper.collapsed {
	@apply w-0;
}

.sidepane {
	@apply w-full h-full overflow-hidden transition-all duration-300;
}

.sidepane.hide {
	@apply w-0 opacity-0;
}

.sidepane-content {
	@apply min-w-[16rem] w-full h-full flex flex-col justify-between overflow-y-auto overflow-x-hidden;
}

.notification {
	@apply flex items-center p-2 mb-2 transition-all duration-300 rounded-md hover:bg-light;
}

.notification.unread {
	@apply bg-compliment;
}

.notification .description {
	@apply h-0 overflow-hidden text-xs transition-all duration-300 opacity-0 text-secondary;
}

.notification:hover .description {
	@apply h-16 opacity-100;
}

/* User profile */
.user-options {
	@apply relative transition-all duration-300 rounded-md hover:bg-light;
}

.user-options .profile {
	@apply flex items-center w-full p-2 transition-all duration-300 cursor-pointer;
}

.user-options .options {
	@apply flex flex-col justify-end h-0 overflow-hidden transition-all duration-300 opacity-0;
}

.user-options .options-mini {
	@apply absolute top-0 left-0 block rounded-md shadow-md bg-canvas;
}

.user-options .item {
	@apply flex items-center px-4 py-2 text-sm transition-all duration-300 rounded-md cursor-pointer gap-x-4 hover:bg-surface;
}

.user-options .mini-item {
	@apply py-3 text-sm transition-all duration-300 rounded-md cursor-pointer flex-center hover:bg-surface;
}

.user-options:hover .options {
	@apply h-20 opacity-100;
}

/* Dropdown menu */
.dropdown {
	@apply relative inline-block text-left;
}

.dropdown .items {
	@apply z-10 mt-2 overflow-hidden origin-top-left divide-y rounded-md shadow-lg divide-light bg-canvas ring-1 ring-muted;
}

.dropdown .item {
	@apply flex items-center px-4 py-2 text-sm border-none cursor-pointer whitespace-nowrap;
}

/* Containers */
.container {
	@apply p-4 rounded-md !max-w-full;
}

.container.outlined {
	@apply border border-surface;
}

.container.light {
	@apply bg-light;
}

.container.whitish {
	@apply bg-whitish;
}

.container.canvas {
	@apply bg-canvas;
}

/* Badges */
.badge {
	@apply inline-flex items-center px-2 py-1 text-xs rounded-md ring-1 ring-inset bg-light text-strong ring-surface;
}

.badge.danger {
	@apply bg-danger text-dangerText ring-red-600/10;
}

.badge.success {
	@apply bg-success text-successText ring-green-600/20;
}

.badge.warning {
	@apply bg-warning text-warningText ring-yellow-600/20;
}

.badge.info {
	@apply bg-info text-infoText ring-blue-700/10;
}

/* Select Input */

.select {
	@apply relative inline-block w-full text-left;
}

.select .options {
	@apply mt-2 overflow-y-auto rounded-md shadow-lg bg-canvas max-h-56 ring-1 ring-muted;
}

.select .options .item {
	@apply relative px-4 py-2 text-sm rounded-md cursor-pointer select-none flex-center-between whitespace-nowrap;
}

/* Combobox */

.combobox {
	@apply relative inline-block w-full text-left;
}

.combobox .input {
	@apply inline-flex items-center justify-between w-full px-3 py-2 font-semibold text-left rounded-md shadow-sm cursor-pointer bg-canvas ring-1 ring-inset ring-muted;
}

.combobox .options {
	@apply absolute z-10 w-full mt-2 overflow-auto rounded-md shadow-lg bg-canvas max-h-56 ring-1 ring-muted;
}

.combobox .options .item {
	@apply relative px-4 py-2 text-sm cursor-pointer select-none flex-center-between;
}

/* Indicators */
.indicator {
	@apply flex items-center gap-x-1.5;
}

.indicator .pulse {
	@apply flex-none p-1 rounded-full;
}

.indicator.success .pulse {
	@apply bg-success;
}

.indicator.success .dot {
	@apply bg-successText;
}

.indicator.info .pulse {
	@apply bg-info;
}

.indicator.info .dot {
	@apply bg-infoText;
}

.indicator.danger .pulse {
	@apply bg-danger;
}

.indicator.danger .dot {
	@apply bg-dangerText;
}

.indicator.warning .pulse {
	@apply bg-warning;
}

.indicator.warning .dot {
	@apply bg-warningText;
}

.indicator .dot {
	@apply h-2 w-1.5 rounded-full;
}

/* Switch */
.switch {
	@apply relative inline-flex h-[21px] w-[37px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75;
}

.switch .knob {
	@apply pointer-events-none inline-block h-[17px] w-[17px] transform rounded-full bg-white shadow-lg ring-0 transition duration-200 ease-in-out;
}

/* Dialog */
.dialog .content {
	@apply relative w-full max-w-md text-left align-middle transition-all transform rounded-lg shadow-xl bg-canvas;
}

.dialog .backdrop {
	@apply fixed inset-0 transition-opacity bg-opacity-75 bg-secondary;
}

/* Popup */
.popup .content {
	@apply w-screen max-w-md mt-2 rounded-md shadow-lg bg-canvas ring-1 ring-inset ring-surface;
}

/* Tabs */
.tabs-group .tabs {
	@apply flex items-center gap-x-4;
}

.tabs-group .tabs .tab {
	@apply pb-2 text-sm font-semibold border-b-2 cursor-pointer border-b-transparent hover:text-dark text-secondary;
}

.tabs-group .tabs .tab.active {
	@apply border-b-dark text-dark outline-0;
}

.tabs-group > .content {
	@apply mt-4;
}

/* Pagination */
.pagination {
	@apply inline-flex overflow-hidden isolate gap-x-2;
}

.pagination .page {
	@apply relative inline-flex items-center justify-center w-6 h-6 text-sm font-semibold border rounded-md cursor-pointer focus:z-20 hover:bg-light;
}

.pagination .page.active {
	@apply text-white cursor-default bg-accent border-accent ring-accent;
}

/*Trippy AI styles*/

.trippy {
	@apply absolute z-20 w-64 right-5 top-5;
}

.chip {
	@apply py-1.5 p-2.5 rounded-full text-xs border border-muted text-strong cursor-pointer hover:bg-compliment hover:text-accent hover:border-accent whitespace-nowrap;
}

.chip.active {
	@apply text-white bg-primary border-primary;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hidden::-webkit-scrollbar {
	@apply hidden;
}

/* For IE, Edge and Firefox */
.scrollbar-hidden {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Range Slider */
input[type="range"] {
	@apply bg-transparent appearance-none cursor-pointer;
	-webkit-appearance: none;
}

input[type="range"]:focus {
	@apply outline-none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
input[type="range"]::-webkit-slider-runnable-track {
	@apply h-1 rounded-full bg-muted;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	@apply -my-1.5 bg-primary h-4 w-4 appearance-none rounded-full transition-all duration-200;
}

input[type="range"]:hover::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	@apply w-6;
}

input[type="range"]:focus::-webkit-slider-thumb {
	@apply ring-2 ring-dark;
}

/******** Firefox styles ********/
input[type="range"]::-moz-range-track {
	@apply h-1 rounded-full bg-muted;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
	@apply w-4 h-4 rounded-full bg-primary;
}

input[type="range"]:focus::-moz-range-thumb {
	@apply ring-2 ring-dark;
}

/* Carousel */

.swiper-button-next:after,
.swiper-button-prev:after {
	@apply !text-sm;
}

.swiper-button-next:after,
.swiper-button-next:after {
	@apply !text-sm;
}

.swiper-button-next {
	@apply !text-dark !bg-white !rounded-full !w-7 !h-7 !overflow-hidden !shadow-md;
}

.swiper-button-prev {
	@apply !text-dark !bg-white !rounded-full !w-7 !h-7 !overflow-hidden !shadow-md;
}

/* Radio Group */

.radio-group {
	@apply w-full mx-auto;
}

.radio-group .options.horizontal {
	@apply flex items-center w-full space-x-2 overflow-x-auto scrollbar-hidden;
}

.radio-group .options.vertical {
	@apply pr-4 space-y-2 overflow-y-auto max-h-60;
}

.radio-group .options .tick {
	@apply text-accent;
}

.radio-group .option {
	@apply relative flex items-center justify-between w-full text-sm bg-white border rounded-md cursor-pointer border-muted focus:outline-none;
}

.radio-group .option:hover {
	@apply bg-compliment;
}

.radio-group .option.active {
	@apply bg-compliment text-accent border-accent;
}

.frosted {
	@apply bg-opacity-50 backdrop-filter backdrop-blur-sm;
}

.zigzag {
	top: -1rem;
	width: 100%;
	height: 1rem;
	background-image: linear-gradient(45deg, #fff 50%, transparent 50%), linear-gradient(-45deg, #fff 50%, transparent 50%);
	background-size: 1rem 1rem;
}

/* table tr th:last-child div div,
table tr td:last-child div div {
	@apply flex justify-end;
} */

/* React Big Calendar override classes */

.rbc-btn-group button {
	font-size: 0.7rem !important;
}
.rbc-toolbar-label {
	font-size: 0.8rem !important;
}
.rbc-header {
	padding: 0.5rem !important;
	min-height: 2rem !important;
	height: 100% !important;
}
.rbc-event {
	@apply !bg-primary;
}
.rbc-today {
	@apply !bg-compliment;
}
.rbc-off-range-bg {
	@apply !bg-light;
}
.rbc-active {
	@apply !bg-light !shadow-none;
}
.rbc-month-view {
	@apply !rounded-md;
}
.rbc-time-view {
	@apply !rounded-md;
}
.rbc-time-slot {
	@apply !bg-whitish flex items-center;
}

.gradient-glass {
	border-radius: 15rem;
	background: radial-gradient(105.68% 45.69% at 92.95% 50%, rgba(105, 244, 253, 0.5) 0%, rgba(160, 255, 244, 0.095) 53.91%, rgba(254, 216, 255, 0) 100%), radial-gradient(103.18% 103.18% at 90.11% 102.39%, #c9fff2 0%, rgba(230, 255, 250, 0) 100%),
		radial-gradient(90.45% 90.45% at 87.84% 9.55%, #ffd2f5 0%, rgba(254, 219, 246, 0) 100%), linear-gradient(135.66deg, rgba(203, 185, 255, 0.8) 14.89%, rgba(216, 202, 254, 0) 74.33%);
	background-blend-mode: normal, normal, normal, normal, normal, normal;
	filter: blur(50px);
}

/* Flight card expand and collapse */
.flight-card .flight-details {
	@apply border-b shadow-sm;
}
.flight-card .fare-option {
	@apply overflow-hidden transition-all duration-300 opacity-0 max-h-1;
}
.flight-card:hover .fare-option {
	@apply max-h-[8rem] overflow-hidden opacity-100;
}
